body {
    background-image: url(../img/sunrise-sydney-adobestock-264958837-1-1280x800.jpeg);
}

section > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1% 8%;
}

section > ul > li:first-child {
    display: flex;
    flex-direction: column;
}

section li ul {
    display: flex;
}

section li img {
    width: 300px;
}