body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    background-color: #75aee0;
    color: white;
    margin-top: 10px;
}

#img1 {
    margin-left: 34vw;
}

.destinationbuenosaires p {
    text-align: center;
}

.quartierpalermobuenosaires img {
    width: 20vw;
    margin-left: 39vw;
    margin-top: 10px;
}

.quartierpalermobuenosaires p {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

main h2 {
    text-align: center;
    background-color: #f6b506;
    border-radius: 10px;
    color: white;
    width: 25%;
    margin-left: 37vw;
    margin-top: 10px;
}

.quartierrecoletabuenosaires p {
    text-align: center;
}

.quartierrecoletabuenosaires img {
    width: 20vw;
    margin-left: 39vw;
    margin-top: 10px;
}

.avenidacorrientesbuenosaires img {
    width: 20vw;
    margin-left: 39vw;
}

.avenidacorrientesbuenosaires p {
    text-align: center;
}

.labocabuenosaires img {
    width: 30vw;
    margin-left: 34vw;
    margin-top: 10px;
}

.labocabuenosaires p {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  
  /* #index {
    font-family: 'Manrope', sans-serif;
    background-image: url(../img/fond.jpg);
    background-size: cover;
    height:100vh;
    width: 100vw;  
  } */
    
  header {
    background-color: #75aee0;
    height: auto;
  }
  
  nav {
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
  }
  
  .menu li a:hover{
    background-color: #f6b506;
  }
  
  .submenu1, .submenu2{
    background-color: #75aee0;
  }
  
  footer {
      background: #75aee0;
    }