body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  background-image: url(../voyage-italie/img-italie/Murano\,\ Italia.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
}

/* --------------------MAIN---------------------- */

main .Italie {
  margin-left: 25%;
  margin-right: 25%;
}

.présentation img {
  width: 50%;
}

.présentation h2 {
  padding-left: 8vh;
}

.présentation {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-left: 25%;
  margin-right: 25%;
}

@keyframes apparition {
  0% {
    margin-bottom: -200px;
    opacity: 0;
  }

  100% {
    margin-bottom: 0;
    opacity: 1;
  }
}

.présentation {
  opacity: 0;
  animation: apparition 2s ease-in-out 0s forwards;
}

.description {
  font-size: 1.5em;
  margin-top: 10vh;
  margin-right: 10vh;
}

.description p {
  padding-bottom: 8%;
}

.Italie {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.884) 0%, rgba(255, 255, 255, 0.600) 95%, rgba(255, 255, 255, 0) 100%);
  border-radius: 5%;
  color: black;
  font-size: larger;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.Italie img {
  width: 30%;
  padding-left: 34%;
}

.Italie div img {
  width: 40%;
  padding-left: 6%;
}

.destinations {
  font-family: 'Bad Script', cursive;
  background-color: white;
  border-radius: 50px;
  padding-bottom: 5%;
  color: black;
}

.destinations h2 {
  font-size: 3em;
  text-align: center;
  margin-top: 1%;
}

.cinqterres {
  display: flex;
  justify-content: space-around;
  margin-left: 2%;
  margin-right: 2%;
}

.cinqterres p {
  font-size: 2em;
  margin-top: 5%;
  margin-right: 2%;
  text-align: justify;
}

.Milan {
  display: flex;
  justify-content: space-around;
  margin-left: 2%;
  margin-right: 2%;
}

.Milan p {
  font-size: 2em;
  margin-top: 5%;
  margin-left: 2%;
  text-align: justify;
}

.Venise {
  display: flex;
  justify-content: space-around;
  margin-left: 2%;
  margin-right: 2%;
}

.Venise p {
  font-size: 2em;
  margin-top: 5%;
  margin-right: 2%;
  text-align: justify;
}

/*----------------------- photos slider---------------------------------*/

.slider {
  width: 800px;
  margin: 30px auto;
  position: relative;
}
.slider-viewport {
  width: 800px;
  height: 400px;
  overflow: hidden;
}
.slider-content {
  display: grid;
  grid-auto-flow: column;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.slider-content img {
  width: 800px;
  height: 400px;
}
.slider-nav {
  position: absolute;
  width: 100%;
  bottom: -30px;
  margin-top: 10px;
  text-align: center;
}
.slider-nav a {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
  display: inline-block;
  background-color: green;
  width: 15px;
  height: 15px;
  margin: 0 3px;
}
.slider-nav a:hover {
  background-color: rgb(126, 126, 126);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}
#img2:target .slider-content {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}
#img3:target .slider-content {
  -webkit-transform: translateX(-1600px);
          transform: translateX(-1600px);
}
#img4:target .slider-content {
  -webkit-transform: translateX(-2400px);
          transform: translateX(-2400px);
}
#img5:target .slider-content {
  -webkit-transform: translateX(-3200px);
          transform: translateX(-3200px);
}


#imag2:target .slider-content {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}
#imag3:target .slider-content {
  -webkit-transform: translateX(-1600px);
          transform: translateX(-1600px);
}
#imag4:target .slider-content {
  -webkit-transform: translateX(-2400px);
          transform: translateX(-2400px);
}
#imag5:target .slider-content {
  -webkit-transform: translateX(-3200px);
          transform: translateX(-3200px);
}

#image2:target .slider-content {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}
#image3:target .slider-content {
  -webkit-transform: translateX(-1600px);
          transform: translateX(-1600px);
}
#image4:target .slider-content {
  -webkit-transform: translateX(-2400px);
          transform: translateX(-2400px);
}
#image5:target .slider-content {
  -webkit-transform: translateX(-3200px);
          transform: translateX(-3200px);
}



/* -------------------------------fin slider--------------------------------- */

/* -------------------------Gallerie Photo------------------------------ */

main h1{
  font-family: 'Bad Script', cursive;
  color: white;
  font-size: 3em;
  text-align: center;
  padding-top: 2%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 2px;
  margin: 2%;
}

.gallery figure {
  margin: 0;
  padding: 0;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.first-picture {
  grid-row-start: 1;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 3;
}

#img-1 {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
}

#img-2 {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 5;
}

#img-3 {
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 3;
  grid-column-end: 5;
}

#img-4 {
  grid-row-start: 1;
  grid-row-end: 9;
  grid-column-start: 7;
  grid-column-end: 9;
}

#img-5 {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 5;
  grid-column-end: 7;
}

.follow {
  background: black;
  color: white;
  grid-row-start: 6;
  grid-row-end: 9;
  grid-column-start: 5;
  grid-column-end: 7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.follow:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

header {
  height: auto;
}

#submenu-continents {
  left: calc(9% + 11px)!important;
}

#submenu-members {
  left: calc(19% + 7.5px)!important;
}