* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#index {
  font-family: 'Manrope', sans-serif;
  background-image: url(../img-voyages/fond.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
}

header {
  width: 100%;
  height: 70px;
  position: relative;
  z-index: 99999;
}

.menu{
  list-style: none;
  background-color: #a3969600;
}

.menu li{
  display: inline-block;
  position: relative;
}

.menu li a{
  display: block;
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 150px;
  transition: 0.4s;
  box-sizing: border-box;
  padding: 20px;
}

.menu :is(li:hover, a:hover) {
  /* background-color: #fff4f4; */
  background: rgba(255, 255, 255, 0.150);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.348);
}

.submenu:hover {
  display: block;
}

.submenu1{
  position: absolute;
  background: rgba(255, 255, 255, .150);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, .348 );
  width: 150px;
  display: none;
}

.submenu2{
  position: absolute;
  background: rgba(255, 255, 255, .150);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, .348 );
  width: 150px;
  left: 100%;
  display: none;
}
#submenu-continents {
  left: calc(12% + 1.9px);
}

#submenu-members {
  left: calc(24% + 3.4px);
}

.menu li#continents:hover ~  #submenu-continents{
  display: block;
}

.menu li#continents-1:hover ~  #submenu-continents-1{
  display: block;
}

.menu li#continents-2:hover ~  #submenu-continents-2{
  display: block;
}

.menu li#continents-3:hover ~  #submenu-continents-3{
  display: block;
}

.menu li#continents-4:hover ~  #submenu-continents-4{
  display: block;
}

.menu li#continents-5:hover ~  #submenu-continents-5{
  display: block;
}

.menu li#continents-6:hover ~  #submenu-continents-6{
  display: block;
}

.menu li#members:hover ~  #submenu-members{
  display: block;
}

.menu li#members-1:hover ~  #submenu-members-1{
  display: block;
}

.menu li#members-2:hover ~  #submenu-members-2{
  display: block;
}

.menu li#members-3:hover ~  #submenu-members-3{
  display: block;
}

.menu li#members-4:hover ~  #submenu-members-4{
  display: block;
}

.menu li#members-5:hover ~  #submenu-members-5{
  display: block;
}

.menu li#members-6:hover ~  #submenu-members-6{
  display: block;
}

.test-1{
  display: flex;
  flex-direction: row;
}

.menu li#members:hover ~  #submenu-members{
  display: block;
}

#index main {
  height:100vh;  
}

#index main img{
  padding-left: 33%;
  margin-top: 9.55%;
  position: relative;
  z-index: 0;
}

#index main p{
  color: white;
  font-weight: 500;
  width: 60%;
  margin-left: 20%;
  margin-top: 15px;
  text-align: center;
  z-index: 1;
  background: rgba(255, 255, 255, .3);
  backdrop-filter: blur(15px);
  position: absolute;
  border-radius: 10px;
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, .5 );
  padding: 15px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: linear-gradient(360deg, rgb(211, 211, 211) 80%, rgba(255,255,255,0) 100%);
  height: 22.5vh;
  margin-top: 1%;
  padding: 1% 1%;
  /* width: 100%; */
}

footer section:first-child {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 6.4fr;
  grid-template-rows: 3fr 1fr;
}

footer section:first-child div {
  grid-column-start: 7;
  grid-row: 1 / 3;
}

footer section div {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-right: 4%;
  margin-top: 1%;
}

footer section:first-child a:hover ~ div {
  color: rgba(255,255,255,0);
}

footer section:first-child a:nth-child(7):hover ~ div {
  background-image: url(../img-voyages/drapeau-argentine.png);
}

footer section:first-child a:nth-child(8):hover ~ div {
  background-image: url(../img-voyages/drapeau-italie.png);
}

footer section:first-child a:nth-child(9):hover ~ div {
  background-image: url(../img-voyages/drapeau-usa.png);
}

footer section:first-child a:nth-child(10):hover ~ div {
  background-image: url(../img-voyages/drapeau-japon.png);
}

footer section:first-child a:nth-child(11):hover ~ div {
  background-image: url(../img-voyages/drapeau-seychelles.png);
}

footer section:first-child a:nth-child(12):hover ~ div {
  background-image: url(../img-voyages/drapeau-australie.png);
} 

footer section img {
  width: 6.5vh;
  /* height: fit-content; */
}

footer ul {
  display: flex;
  justify-content: space-around;
}

.socials{
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .socials p {
  font-family: 'Manrope', sans-serif;
  font-size: small;
  text-align: center;
}

.socials a {
  text-decoration: none;
  color: black;
  padding: 2px;
}

ul {
  list-style: none;
}

ol {
  padding-left: 3%;
}