* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Manrope', sans-serif;
    height: 100%;
    width: 100%;
  }
  
#wrap {
  width: 100%;
  height: 50px;
  margin: 0;
  z-index: 99;
  position: relative;
  background-color: #a3969600; 
}



.navbar {
  height: 50px;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
}
  
.navbar li {
  height: auto;
  width: 135.8px;
  float: left;
  text-align: center;
  list-style: none;
  font: normal bold 13px/1em Arial, Verdana, Helvetica;
  padding: 0;
  margin: 0;
  /* background-color: #ef5252; */
  /* background: rgba(255, 255, 255, .3);
  box-shadow: 10px 10px 60px -8px rgba(120, 120, 120, 0.5); */
}
  
.navbar a {
  padding: 18px 0;
  /* border-left: 1px solid #ca3e3e; */
  text-decoration: none;
  color: white;
  display: block;
}
  
.navbar li:hover,a:hover {
  /* background-color: #fff4f4; */
  background: rgba(255, 255, 255, 0.150);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.348);
}
  
.navbar li ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}
  
.navbar li:hover ul {
  display: block;
}
  
.navbar li ul li {
  /* background-color: #c47171; */
  background: rgba(255, 255, 255, .150);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, .348 );
}
  
/* .navbar li ul li a {
  border-left: 1px solid #832525;
  border-right: 1px solid #efd7d7;
  border-top: 1px solid #c9d4d8;
  border-bottom: 1px solid #943636;
} */
  
.navbar li ul li a:hover {
  /* background-color: #e17979; */
  background: rgba(255, 255, 255, .150);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, .348 );
}

main {
  background-image: url(img/fond.jpg);
  background-size: cover;
  height:100vh;
  width: 100vw;  
}

main img{
  padding-left: 33%;
  margin-top: 9.55%;
  position: relative;
  z-index: 0;
}

main p{
  color: white;
  font-weight: 500;
  width: 60%;
  margin-left: 20%;
  margin-top: 15px;
  text-align: center;
  z-index: 1;
  background: rgba(255, 255, 255, .3);
  backdrop-filter: blur(15px);
  position: absolute;
  border-radius: 10px;
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, .5 );
  padding: 15px;
}

